<div class="listeCompetences">

	<div class="liste">

		<h3>Languages maîtrisés</h3>

		<div class="listeColonnes">

			<div class="colonne">			

				<div class="elementListe">
					<img src="/icones/iconeCpp.png" alt="GitHub" id="github">
					<p>C++</p>
				</div>

				<div class="elementListe">
					<img src="/icones/iconeCsharp.png" alt="GitHub" id="github">
					<p>C#</p>
				</div>

				<div class="elementListe">
					<img src="/icones/iconeC.png" alt="GitHub" id="github">
					<p>C</p>
				</div>				
			</div>

			<div class="colonne">
				<div class="elementListe">
					<img src="/icones/iconeHtmlV2.png" alt="Html" id="github">
					<p>Html</p>
				</div>

				<div class="elementListe">
					<img src="/icones/iconeCss.svg" alt="Html" id="github">
					<p>Css</p>
				</div>

				<div class="elementListe">
					<img src="/icones/iconeJavascript.png" alt="Html" id="github">
					<p>Javascript</p>
				</div>				
			</div>

			<div class="colonne">

					<div class="elementListe">
						<img src="/icones/iconePhp.svg" alt="GitHub" id="github">
						<p>Php</p>
					</div>

					<div class="elementListe">
						<img src="/icones/iconeJava.svg" alt="GitHub" id="github">
						<p>Java</p>
					</div>

					<div class="elementListe">
						<img src="/icones/iconeSql.png" alt="GitHub" id="github">
						<p>Sql</p>
					</div>
				</div>
		</div>
	</div>

	<div class="liste">

		<h3>Outils & Frameworks</h3>


		<div class="listeColonnes">

			<div class="colonne">

				<div class="elementListe">
					<img src="/icones/iconeGit.svg" alt="GitHub" id="github">
					<p>Git</p>
				</div>

				<div class="elementListe">
					<img src="/icones/iconeBash.png" alt="GitHub" id="github">
					<p>Bash</p>
				</div>

				<div class="elementListe">
					<img src="/icones/iconeDocker.png" alt="GitHub" id="github">
					<p>Docker</p>
				</div>

			</div>

			<div class="colonne">

				<div class="elementListe">
					<img src="/icones/iconeMongo.png" alt="GitHub" id="github">
					<p>MongoDB</p>
				</div>


				<div class="elementListe">
					<img src="/icones/iconeBlazor.png" alt="GitHub" id="github">
					<p>.NET Blazor</p>
				</div>
			</div>
		</div>
	</div>
</div>
