<nav class="navbar">

    <div class="navbar-brand">
        <img src="/icones/iconeHtml.png" alt="Jean Marcillac" id="ichtml">
        <span>Jean Marcillac</span>
    </div>

    <div class="navbar-menu">

        <a href="/projets" class="navbar-item">
            <img src="/icones/iconeProjets.png" alt="Projets" id="projets">
            <span>Projets</span>
        </a>

        <a href="/competences" class="navbar-item">
            <img src="/icones/iconeCompetences.png" alt="Compétences" id="competences">
            <span>Compétences</span>
        </a>

        <a href="/formation" class="navbar-item">
            <img src="/icones/iconeFormation.png" alt="Formation" id="formation">
            <span>Formation</span>
        </a>

        <a href="/cv" class="navbar-item">
            <img src="/icones/iconeCV.png" alt="CV" id="cv">
            <span>CV</span>
        </a>


    </div>
    <div class="navbar-end">
        <a href="https://github.com/" class="navbar-item">
            <img src="/icones/iconeGithub.png" alt="GitHub" id="github">
        </a>
    </div>
</nav>
