.carousel-button {
    background-color: white; 
    color: black; 
    padding-left: 1.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1.8rem;
    font-family: var(--police-texte);
    font-style: var(--font-style-texte);
    font-weight: var(--poids-police-texte);
    border: none; 
    border-radius: 60px; 
    font-size: 1.2rem; 
    cursor: pointer; 
    transition: transform 0.3s ease, background-color 0.3s ease; 

    height: 3.1rem;
}

.carousel-button:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: black; 
    transform: scale(1.1);
}
