.contenu {
    width: 100%;
}

.texte p, .texte-haut p {
    word-wrap: break-word;
    font-family: var(--police-texte);
    font-size: var(--taille-texte);
    margin: 0;
    padding: 0;
}

.texte {
    padding-left : 1rem;
    padding-right : 1rem;
}

.sous-texte {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.partie-gauche, .partie-droite {
    width: 95%;
}

.partie-droite {
    margin-left: 2%;
}

.bas-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1024px) {

    .partie-droite, .partie-gauche {
        
        width: 100%;
    }

    .partie-droite {
        margin-left: 0%;
    }

    .media {

        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

    .sous-texte {

        align-items: center;
        justify-content: center;
        margin-top: 1.2rem;
    }
}