<nav class="navbar">

    <div class="navbar-brand" @onclick="retourAccueil">
        <img src="/icones/iconeHtmlNavBar.png" alt="Jean Marcillac" class="ichtml" onclick="retourAccueil">
        <span>Jean Marcillac</span>
    </div>

    <div class="navbar-menu">

        <a href="#projets" class="navbar-item">
            <img src="/icones/iconeProjets.png" alt="Projets">
            <span>Projets</span>
        </a>

        <a href="#competences" class="navbar-item">
            <img src="/icones/iconeCompetences.png" alt="Compétences">
            <span>Compétences</span>
        </a>

@*         <a href="/formation" class="navbar-item">
            <img src="/icones/iconeFormation.png" alt="Formation" id="formation">
            <span>Formation</span>
        </a> *@

        <a target="_blank" href="https://drive.google.com/uc?export=download&id=1fS-HPu1l_HqiWupVOop4kJjx13Ifjn4q" download="Cv_Jean_Marcillac.pdf" class="navbar-item">
            <img src="/icones/iconeCV.png" alt="CV">
            <span>CV</span>
        </a>

    </div>
    <div class="navbar-end" @ref="elementRef">
        <a href="@cheminProfilGithub" class="navbar-item" target="_blank">
            <img src="@cheminImageGithub" alt="GitHub">
        </a>
    </div>
</nav>
