<div class="profile-container">

    <div class="nomEtTexte">

        <h1>@titre,</h1>

        <p>@description</p>
    </div>
    
    <div class="profile-image-container">
        <img src="@cheminImage" alt="Photo de Profil" class="profile-image">
    </div>

</div>
