@page "/"

@using siteValorium.components.navbar
@using siteValorium.components.hautDePage
@using siteValorium.components.carteProjet
@using siteValorium.components.listeCompetences
@using siteValorium.components.anchorNavigation
@using siteValorium.components.piedDePage

<PageTitle>Jean Marcillac</PageTitle>

<Navbar/>

<div class="contenuPage">

    <AnchorNavigation />

    <div class="hautDePage">
        <HautDePage />
    </div>

    <div id="competences">

        <h2 class="titreSection1">Mes compétences</h2>

        <div class="listeCompetences">
            <ListeCompetences />
        </div>
    </div>


    <div id="projets">



        <h2 class="titreSection1">Mes projets</h2>

        <div class="conteneurProjets1">

            <div class="carteProjet1">
                <CarteProjet titre="Projet Verax" paragraphe="Projet d'application web et mobile visant à la lutter contre la prolifération des fake news en ligne. Réalisé en équipe dans le cadre d'une SAE en seconde année de BUT."
                             cheminImage="/images/mainVerax.png"
                             texteTag="Projet d'études"
                             redirectionGithub="https://github.com/Siwa12100/Projet-Verax"
                             cheminPageAssociee="verax"/>
            </div>


            <div class="carteProjet1">
                <CarteProjet titre="Institut Occitan de l'Aveyron" paragraphe="Refonte technique et visuelle du site internet de l'institut dans l'optique de mettre en valeur les travaux de conservation et de valorisation de la culture occitane en Aveyron."
                             cheminImage="https://aveyron.fr/sites/default/files/styles/visuel_bandeau_page_edito/public/pages/img/occitna_0.png?itok=KeoCfI5D"
                             texteTag="Stage (en cours)"
                             redirectionGithub="invisible" />
            </div>

        </div>

        <div class="conteneurProjets1">

            <div class="carteProjet2">

                <CarteProjet titre="Tinnu"
                             paragraphe="Plugin Minecraft permettant de synchroniser l'heure du vrai monde avec celle du jeu."
                             cheminImage="https://elendilmc.fr/wp-content/uploads/2023/04/zaap1.png"
                             texteTag="Projet Valorium"
                             redirectionGithub="https://github.com/Siwa12100/Tinnu" />
            </div>


            <div class="carteProjet2">
                <CarteProjet titre="Lobor"
                             paragraphe="Plugin Minecraft implémentant un système de montures dans le jeu."
                             texteTag="Projet Valorium"
                             cheminImage="/images/lobor.png"
                             redirectionGithub="https://github.com/Siwa12100/Lobor">
                </CarteProjet>
            </div>

            <div class="carteProjet2">

                <CarteProjet titre="Site du Valorium"
                             paragraphe="Développement de la première version du site de l'association du Valorium."
                             texteTag="Projet Valorium"
                             cheminImage="/images/logoValo.png"
                             redirectionGithub="https://github.com/Siwa12100/site_Valorium"></CarteProjet>

            </div>
        </div>

    </div>


    <PiedDePage/>

</div>
