@namespace portfolio_siwa.Composants.Global.Boutons.BoutonValorium

@if (this.Texte != null)
{
    <div class="bouton-style">
    <span></span>
    <a href="#partie2">@Texte</a>
    <span></span>
</div>
}