@namespace portfolio_siwa.Composants.Global.HautPage

@using portfolio_siwa.Composants.Global.BlocsContenu.BlocContenuGaucheDroite
@using portfolio_siwa.Composants.Global.Boutons.BoutonValorium
@using portfolio_siwa.Composants.Global.Boutons.BoutonLien

<BlocContenuGaucheDroite>
    <ContenuGauche>
        <h1>Jean Marcillac</h1>
        <p>Titulaire d’un Bachelor en informatique obtenu à Clermont-Ferrand, j’ai intégré cette année l’INSA Lyon en première année du cycle ingénieur,
             en alternance chez Enedis.
            Passionné par les technologies du numérique, je cultive une approche rigoureuse et curieuse du développement logiciel, de l’administration système et de la gestion de projet.
            J’attache une grande importance à l’apprentissage par la pratique, en m’impliquant dans des projets concrets à fort enjeu technique et humain.</p>
        <BoutonValorium Texte="Mes travaux" Lien="#partie2"/>
    </ContenuGauche>
    <ContenuDroite>
        <div class="image">
            <img src="Images/PhotoProfil.webp" alt="Photo de profil" />
            <div class="reseaux">
                <BoutonLien Icone="/Images/logos/logoDiscord.svg" Texte="sioa" ModeCopierColler="true" TypeLien="1"/>
                <BoutonLien Icone="/Images/logos/logoMail.svg" Texte="jean.marcillac12@gmail.com" TypeLien="2" ModeCopierColler="true"/>
                <BoutonLien Icone="/Images/logos/logoGithub.svg" Lien="https://github.com/Siwa12100" />
            </div>
        </div>
    </ContenuDroite>
</BlocContenuGaucheDroite>
