@namespace portfolio_siwa.Composants.Global.HautPage

@using portfolio_siwa.Composants.Global.BlocsContenu.BlocContenuGaucheDroite
@using portfolio_siwa.Composants.Global.Boutons.BoutonValorium
@using portfolio_siwa.Composants.Global.Boutons.BoutonLien

<BlocContenuGaucheDroite>
    <ContenuGauche>
        <h1>Jean Marcillac</h1>
        <p>En troisième année de Bachelor informatique à Clermont-Ferrand,
             j’affine mes compétences en développement
              logiciel, administration système et gestion
               de projet, avec l’objectif d'intégrer une école
                d’ingénieur. Curieux et passionné par le numérique, 
                je cherche continuellement à progresser en travaillant sur 
                des projets concrets et stimulants.</p>
        <BoutonValorium Texte="Mes travaux" Lien="#partie2"/>
    </ContenuGauche>
    <ContenuDroite>
        <div class="image">
            <img src="Images/PhotoProfil.webp" alt="Photo de profil" />
            <div class="reseaux">
                <BoutonLien Icone="/Images/logos/logoDiscord.svg" Texte="sioa" ModeCopierColler="true" TypeLien="1"/>
                <BoutonLien Icone="/Images/logos/logoMail.svg" Texte="jean.marcillac12@gmail.com" TypeLien="2" ModeCopierColler="true"/>
                <BoutonLien Icone="/Images/logos/logoGithub.svg" Lien="https://github.com/Siwa12100" />
            </div>
        </div>
    </ContenuDroite>
</BlocContenuGaucheDroite>