@namespace portfolio_siwa.Composants.Global.HautPage

@using portfolio_siwa.Composants.Global.BlocsContenu.BlocContenuGaucheDroite
@using portfolio_siwa.Composants.Global.Boutons.BoutonValorium
@using portfolio_siwa.Composants.Global.Boutons.BoutonLien

<BlocContenuGaucheDroite>
    <ContenuGauche>
        <h1>Jean Marcillac</h1>
        <p>
        Étudiant en <strong>ingénierie informatique à l’INSA Lyon</strong> et <strong>Data Analyste en alternance chez Enedis</strong>, je développe une approche concrète et expérimentale du numérique, attentive aux <strong>avancées de l’IA</strong>, aux <strong>méthodologies de développement</strong> et aux <strong>technologies émergentes</strong>.
        </p>

        <p>
        Au‑delà de la technique, je m’interroge sur la <strong>dissonance entre les promesses du numérique</strong> et ses <strong>réalités énergétiques et matérielles</strong>, et réfléchis à la place d’un <strong>numérique résilient et durable</strong> dans un monde sous contraintes.
        </p>

        <p>
        Je souhaite ainsi mettre mes compétences au service de <strong>projets et organisations porteurs de sens</strong>, utiles, responsables et durables.
        </p>


        <BoutonValorium Texte="Mes travaux" Lien="#partie2"/>
    </ContenuGauche>
    <ContenuDroite>
        <div class="image">
            <img src="Images/PhotoProfil.webp" alt="Photo de profil" />
            <div class="reseaux">
                <BoutonLien Icone="/Images/logos/logoDiscord.svg" Texte="sioa" ModeCopierColler="true" TypeLien="1"/>
                <BoutonLien Icone="/Images/logos/logoMail.svg" Texte="jean.marcillac12@gmail.com" TypeLien="2" ModeCopierColler="true"/>
                <BoutonLien Icone="/Images/logos/logoGithub.svg" Lien="https://github.com/Siwa12100" />
            </div>
        </div>
    </ContenuDroite>
</BlocContenuGaucheDroite>

