@namespace portfolio_siwa.Composants.Global.HautPage

@using portfolio_siwa.Composants.Global.BlocsContenu.BlocContenuGaucheDroite
@using portfolio_siwa.Composants.Global.Boutons.BoutonValorium

<BlocContenuGaucheDroite>
    <ContenuGauche>
        <h1>Jean Marcillac</h1>
        <p>Etudiant en informatique,
        passionné par le développement web et les nouvelles technologies. Actuellement
         à la recherche de nouvelles opportunités pour mettre en pratique mes compétences
          et apprendre de nouvelles choses.</p>
        
        <BoutonValorium Texte="Mes travaux"/>
    </ContenuGauche>
    <ContenuDroite>
        <div class="image">
            <img src="Images/PhotoProfil.png" alt="Photo de profil" />
        </div>
    </ContenuDroite>
</BlocContenuGaucheDroite>