nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: none;
    padding-right: 1rem;
  }

  nav::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    opacity: 0.2;
    z-index: -1;
    border-radius: inherit;
  }

  .contenu-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    width: 55%;
    margin-right: 7rem;
  }

  .menu-principal {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 0;
  }

  .menu-principal li {
    position: relative;
    color: var(--couleur-texte);
    font-size: var(--taille-texte);
    font-family: var(--police-texte);
    padding-left: 2.6rem;
    margin-left: 3.3rem;
    transition: transform 0.4s ease;
  }

  .menu-principal li:hover {
    transform: scale(1.1);
  }

  .menu-principal li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1.9rem;
    height: 1.9rem;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.4s ease;
  }

  #accueil::before {
    background-image: url('/Images/logos/logoHome.svg');
  }
  #travaux::before {
    background-image: url('/Images/logos/logobuild.svg');
  }
  #propos::before {
    background-image: url('/Images/logos/logogredon.svg');
  }

  .menu-principal li:hover::before {
    transform: translateY(-50%) rotate(20deg);
  }

  .menu-principal li::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 2.1rem;
    width: 0%;
    height: 2px;
    background-color: var(--couleur-texte);
    transition: width 0.3s ease;
  }

  .menu-principal li:hover::after {
    width: calc(100% - 2.1rem);
  }

  .bouton-cv {
    color: white;
    font-size: var(--taille-texte);
    font-family: var(--police-texte);
    font-style: var(--font-style-texte);
    font-weight: var(--poids-police-texte);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gradient-violet-orange);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0.3rem 0.8rem;
    transition: transform 0.4s ease, background 1s ease;
    cursor: pointer;
    margin-left: 2.2rem;
  }

  .bouton-cv p {
    margin: 0;
    padding: 0;
    font-size: var(--taille-texte-boutons);
    font-family: var(--police-texte);
    font-style: var(--font-style-texte);
    transition: var(--transition-grossissement);
  }

  .bouton-cv:hover {
    transform: scale(1.03);
  }

  .bouton-cv img {
    width: auto;
    height: calc(var(--taille-texte-boutons));
    margin-right: 0.7rem;
    transition: var(--transition-grossissement);
  }

  .bouton-cv:hover img {
    transform: rotate(-12deg);
  }

  .bouton-burger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--couleur-texte);
    cursor: pointer;
    transition: transform 0.4s ease;
  }

  .bouton-burger:hover {
    transform: scale(1.2);
  }

  .menu-mobile {
    display: none;
  }

  @media (max-width: 1024px) {

    nav {
      padding-right: 0;
    }

    .contenu-nav {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0;
    }

    .menu-principal {
      display: none;
    }

    .bouton-burger {
      display: block;
    }

    .menu-mobile {
      list-style: none;
      padding: 1rem;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: calc(4.8rem + 0rem);
      background-color: var(--bleu-fonce);
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      transition: opacity 0.3s ease, transform 0.3s ease;
      opacity: 0;
      pointer-events: none;
    }

    .menu-mobile.ouvert {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
    }

    .menu-mobile.ferme {
      transform: translateY(-10px);
    }

    .menu-mobile li {
      position: relative;
      color: var(--couleur-texte);
      font-size: var(--taille-texte);
      font-family: var(--police-texte);
      padding: 0.5rem 1rem;
      transition: transform 0.4s ease;
      margin: 0.5rem 0;
    }

    .menu-mobile li:hover {
      transform: scale(1.05);
    }

    .menu-mobile li::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.5rem;
      width: 1.5rem;
      height: 1.5rem;
      background-size: contain;
      background-repeat: no-repeat;
    }

    #accueil-mobile::before {
      background-image: url('/Images/logos/logoHome.svg');
    }

    #travaux-mobile::before {
      background-image: url('/Images/logos/logobuild.svg');
    }

    #propos-mobile::before {
      background-image: url('/Images/logos/logogredon.svg');
    }

    .menu-mobile li::after {
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      background: var(--couleur-texte);
      margin-top: 0.5rem;
      opacity: 0.5;
    }

    .bouton-cv {
      margin-left: 1rem;
    }
  }
  