<nav>
    <div class="contenu">
        <ul>
            <li id="accueil">Accueil</li>
            <li id="travaux">Travaux</li>
            <li id="propos">À propos</li>
        </ul>

        <button class=".bouton-cv">
            <img src="Images/logos/logocv.svg" alt="cv">
            <p>CV</p>
        </button>
    </div>
</nav>

