<div class="profile-container">

    <div class="nomEtTexte">

        <h1>Jean Marcillac,</h1>

        <p>Lorem ipsum dolor sit, amet consectetur adipiscing elit.
            Corrupti, rerum. Debitis accusantium deleniti enim iste dignissi
            mos? Similique, exercitationem! Odit vero, numquam quae ratione
            maxime sunt reiciendis laudantium quaerat iure ipsum!</p>
    </div>
    
    <div class="profile-image-container">
        <img src="/images/photoProfil.png" alt="Photo de Profil" class="profile-image">
    </div>

</div>
