@using portfolio_siwa.Composants.Global.FondMedia
@using portfolio_siwa.Composants.Global.Boutons.BoutonFondTransparent
@using portfolio_siwa.Composants.Global.BlocsContenu.BlocContenuGaucheDroite
@using portfolio_siwa.Composants.Global.BlocsContenu.BlocTexteMedia
@using portfolio_siwa.Composants.Global.Images.ImageDimensionee
@using portfolio_siwa.Composants.Global.AnchorNavigation
@using portfolio_siwa.Composants.Global.Boutons.BoutonGradientViolet
@using portfolio_siwa.Composants.Global.BlocsContenu.Bloc3Contenu

@page "/"

<AnchorNavigation />

<h2>Pitié marche</h2>