.contenu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}

.haut-page {
    margin-top: 17vh;
}

#presentation p {
    color : red;
    display: none;
}

#propos p {
    color : red;
    display: none;
}

#home p {
    color : red;
    display: none;
}

.bas-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.technos {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media (max-width: 1024px) {

}




