<div class="card" @onclick="CardCliquee">

    <img src="@cheminImage" alt="Image" class="card-image" />

    <div class="card-content">

        <h3>@titre</h3>
        <p>@paragraphe</p>

    </div>

    <div class="tag">Tag</div>

</div>
