.listeCompetences {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start; 
    gap: 1vh; 
    font-family : Candara;
    color : white;
}

h3 {

    font-size : 3.5vh;
}

p {

    font-size : 2.7vh;
    font-weight : 100;
}

.liste {
    flex: 1; 
}

.elementListe {
    display: flex;
    align-items: center; /* Centre les éléments de la liste verticalement */
    gap: 1vh; /* Espace entre l'icône et le texte */
}

    .elementListe img {
        width: 24px; /* ou toute autre taille appropriée */
        height: auto;
    }



/*.listeCompetences {

    color : white;
    font-family : Candara;

    flex-direction : row;
    align-items : center;
    justify-content : space-around;

    border : 3px red solid;


}


img {
    width : 1.4%;
    height : 1.4%;
}

.elementListe {

    display : flex;
    flex-direction : row;
    align-items : center;
}

.liste {

    display : flex;
    flex-direction : column;

    border : 3px solid yellow;
}*/