<div class="listeCompetences">

	<div class="liste">

		<h3>Languages maîtrisés</h3>

		<div class="elementListe">
			<img src="/icones/iconeGithub.png" alt="GitHub" id="github">
			<p>Java</p>
		</div>

		<div class="elementListe">
			<img src="/icones/iconeGithub.png" alt="GitHub" id="github">
			<p>Java</p>
		</div>

		<div class="elementListe">
			<img src="/icones/iconeGithub.png" alt="GitHub" id="github">
			<p>Java</p>
		</div>

	</div>


	<div class="liste">

		<h3>Outils et Frameworks</h3>

		<div class="elementListe">
			<img src="/icones/iconeGithub.png" alt="GitHub" id="github">
			<p>Java</p>
		</div>

		<div class="elementListe">
			<img src="/icones/iconeGithub.png" alt="GitHub" id="github">
			<p>Java</p>
		</div>

	</div>

</div>