@namespace portfolio_siwa.Composants.Global.Footer

@using portfolio_siwa.Composants.Global.Boutons.BoutonDiscord
@using portfolio_siwa.Composants.Global.Boutons.BoutonFondTransparent

<footer class="contenu">
    <p>Portfolio réalisé par mes soins, avec le Framework .NET Blazor Server.</p>
    <BoutonGithub Texte="Code du portfolio" Lien="https://github.com/Siwa12100/portfolio" />

</footer>