@namespace portfolio_siwa.Composants.Global.Footer

@using portfolio_siwa.Composants.Global.Boutons.BoutonDiscord
@using portfolio_siwa.Composants.Global.Boutons.BoutonFondTransparent

<footer class="contenu">
    <div class="gauche">
        <img src="Images/Elendil/logoELendil.png" alt="Logo Elendil" />
    </div>
    <div class="centre">
        <div class="infos">
            <BoutonFondTransparent Texte="Jogaires Inspector" Icone="Images/ItemsMinecraft/epee_fer.webp" Alt="Jogaires Inspector" 
            CheminRedirection="https://jogaires-inspector.elendil-mc.fr" FondBlanc="true" OuvreNouvelOnglet="true"/>
            Copyright © 2025 Alliance d'Elendil - Tous droits réservés - Non affilié à Mojang ou Microsoft - Serveur Minecraft
        </div>
    </div>
    <div class="droite">
        <BoutonDiscord Lien="https://discord.gg/hfKf5y2DC9" />
    </div>
</footer>