@page "/"

@using portfolioSiwa.Components.navbar
@using portfolioSiwa.Components.hautDePage
@using portfolioSiwa.Components.carteProjet


<PageTitle>Jean Marcillac</PageTitle>

<Navbar/>

<div class="hautDePage">
    <HautDePage />
</div>



<h2 class="titreSection1">Mes projets</h2>

<div class="conteneurProjets1">

    <div class="carteProjet1">
        <CarteProjet titre="Test de Carte" paragraphe="description de la carte"
                     cheminImage="https://elendilmc.fr/wp-content/uploads/2022/05/2021-03-26_09.27.58.png"
                     texteTag="coucou" />
    </div>

    <div class="carteProjet1">
        <CarteProjet titre="Test de Carte" paragraphe="description de la carte"
                     cheminImage="https://elendilmc.fr/wp-content/uploads/2022/05/2021-03-26_09.27.58.png"
                     texteTag="coucou" />
    </div>

    <div class="carteProjet1">
        <CarteProjet titre="Test de Carte" paragraphe="description de la carte"
                     cheminImage="https://elendilmc.fr/wp-content/uploads/2022/05/2021-03-26_09.27.58.png"
                     texteTag="coucou" />
    </div>

    

</div>


@* <div class="msgTemporaire">

    <p> Portfolio toujours en cours de développement. Sa version finale sera publiée le 06/04/2024 au soir ! </p>

</div> *@
