@page "/"

@using portfolioSiwa.Components.navbar
@using portfolioSiwa.Components.hautDePage
@using portfolioSiwa.Components.carteProjet


<PageTitle>Jean Marcillac</PageTitle>

<Navbar/>

<div class="hautDePage">
    <HautDePage />
</div>


<h2 class="titreSection1">Mes projets</h2>

<div class="conteneurProjets1">

    <div class="carteProjet1">
        <CarteProjet titre="Projet Verax" paragraphe="Projet d'application web et mobile visant à la lutter contre la prolifération des fake news en ligne."
                     cheminImage="https://cdn.discordapp.com/attachments/974412670730137670/1226482428650983464/image.png?ex=6624edc5&is=661278c5&hm=04d31fa97011ee5c3c27092791f181be152299ca23f94e754fa299599151ebdc&"
                     texteTag="Projet d'études" />
    </div>


    <div class="carteProjet1">
        <CarteProjet titre="Institut Occitan de l'Aveyron" paragraphe="Refonte technique et visuelle du site internet de l'institut dans l'optique de mettre en valeur les travaux de conservation et de valorisation de la culture occitane en Aveyron."
                     cheminImage="https://aveyron.fr/sites/default/files/styles/visuel_bandeau_page_edito/public/pages/img/occitna_0.png?itok=KeoCfI5D"
                     texteTag="Stage" />
    </div>    

</div>

<div class="conteneurProjets1">

    <div class="carteProjet2">

        <CarteProjet titre="Tinnu"
                     paragraphe="Plugin Minecraft permettant de synchroniser l'heure du vrai monde avec celle du jeu."
                     cheminImage="https://elendilmc.fr/wp-content/uploads/2023/04/zaap1.png"
                     texteTag="Projet Valorium" />
    </div>

    
    <div class="carteProjet2">
        <CarteProjet titre="Lobor"
                     paragraphe="Plugin Minecraft implémentant un système de montures dans le jeu."
                     texteTag="Projet Valorium"
                     cheminImage="https://cdn.discordapp.com/attachments/1198276630901170257/1198276631526133770/2024-01-20_15.42.19.png?ex=6623d493&is=66115f93&hm=b1a732a58266899099c593efd43548c56be837b9e79d5ea79b62ac120ae793a6&"></CarteProjet>
     </div>
                 

</div>



@* <div class="msgTemporaire">

    <p> Portfolio toujours en cours de développement. Sa version finale sera publiée le 06/04/2024 au soir ! </p>

</div> *@
