@page "/"

@using portfolioSiwa.Components.navbar
@using portfolioSiwa.Components.hautDePage


<PageTitle>Jean Marcillac</PageTitle>

<Navbar/>

<div class="hautDePage">
    <HautDePage />
</div>
