@page "/"

@using portfolioSiwa.Components.navbar
@using portfolioSiwa.Components.hautDePage


<PageTitle>Jean Marcillac</PageTitle>

<Navbar/>

<div class="hautDePage">
    <HautDePage />
</div>


<div class="msgTemporaire">

    <p> Portfolio toujours en cours de développement. Sa version finale sera publiée le 06/04/2024 au soir ! </p>

</div>
