@namespace portfolio_siwa.Composants.Global.Techno

<div class="contenu">
    <div class="titre">
        <img src="@this.Logo" alt="Logo Techno" />
        <h3>@this.Nom</h3>
    </div>
    <p class="description">@this.Description</p>
</div>